:root {
	--aqua: #59c9a5;

	--bgcolor: #23395b;
	--darkbgcolor: #172944;
}

.App {
	overflow: hidden;
	font-family: lato;
	height: 100vh;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--bgcolor);
	color: var(--aqua);
	.footer {
		margin-top: auto;
		height: 10vh;
		background-color: var(--darkbgcolor);
		display: flex;
		align-items: center;
		width: 100vw;
		justify-content: center;
	}

	.loader {
		transition: all 1s ease-in-out;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 1.5rem;
		i {
			font-size: 7rem;
			margin-top: 1.5rem;
		}
	}
	.main {
		transition: all 1s ease-in-out;
		padding: 1.5rem 0 0 0;
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		height: 90vh;
		.major-conditions {
			width: 80%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0.5rem 1rem;
			.info {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding-top: 1rem;
				width: 100%;
				height: 8rem;
				.city-name {
					font-size: 2rem;
					padding: 0.15rem;
				}
				.current-temp {
					font-weight: 800;
					font-size: 2.5rem;
				}
			}
			.button {
				height: 8rem;
				display: flex;
				justify-content: center;
				align-items: center;
				width: auto;
				button {
					background-color: transparent;
					color: var(--aqua);
					height: 5rem;
					width: 5rem;
					border-radius: 50%;
					padding: 5px 10px;
					border-color: var(--aqua);
				}
			}
			.type-icon {
				display: flex;
				height: 8rem;
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;
				width: auto;
				span {
					font-size: 1.5rem;
				}
				img {
					height: 5rem;
					width: 5rem;
				}
			}
		}
		.minor-conditions {
			display: flex;
			align-items: center;
			justify-content: space-around;
			gap: 1rem;
			margin: auto 0 1rem 0;
			font-size: 1.5rem;
			padding-left: 2rem;
			i {
				margin: 0.5rem 1rem 0.5rem 0;
			}
			.left {
				border-right: 2px solid var(--aqua);
				padding-right: 1rem;
			}
			.right {
				border-left: 2px solid var(--aqua);
				padding-left: 1rem;
			}
		}
	}
}
.search {
	position: relative;
	width: 250px;
	margin-top: 1rem;
	input {
		box-sizing: border-box;
		width: 100%;
		padding: 9px;
		border: 1px solid rgba(255, 255, 255, 0.25);
		border-radius: 5px;
		outline: none;
		color: #fff;
		font-size: 1em;
		background-color: transparent;
	}
	span {
		position: absolute;
		padding: 8px;
		color: rgba(255, 255, 255, 0.25);
		left: 0;
		font-size: 1em;
		pointer-events: none;
		text-transform: uppercase;
		transition: all 0.5s ease-in-out;
	}
	input:valid ~ span,
	input:focus ~ span {
		transform: translateX(6px) translateY(-8px);
		font-size: 0.65em;
		color: var(--aqua);
		padding: 0 10px;
		background-color: var(--bgcolor);
		border-left: 1px solid var(--aqua);
		border-right: 1px solid var(--aqua);
	}
	input:valid,
	input:focus {
		border-color: var(--aqua);
	}
	.search-results {
		border: 1px solid var(--aqua);
		border-top: none;
		.search-result {
			cursor: pointer;
			padding: 0.1rem 0.2rem;
		}
		.search-result:hover {
			background-color: var(--darkbgcolor);
		}
	}
}
