:root {
	--aqua: #59c9a5;

	--bgcolor: #23395b;
	--darkbgcolor: #172944;
}

.App {
	overflow: hidden;
	font-family: lato;
	min-height: 100vh;
	align-items: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: var(--bgcolor);
	color: var(--aqua);
	.footer {
		margin-top: auto;
		height: 10vh;
		// background-color: var(--darkbgcolor);
		display: flex;
		align-items: center;
		width: 100vw;
		justify-content: center;
	}

	.loader {
		transition: all 1s ease-in-out;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-top: 5%;
		i {
			font-size: 7em;
		}
	}
	.main {
		transition: all 1s ease-in-out;
		padding: 1.5em 0 0 0;
		display: flex;
		width: 100%;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
		max-height: 80vh;
		.major-conditions {
			min-width: 80%;
			display: flex;
			justify-content: space-between;
			align-items: center;
			padding: 0.5em 1em;
			.info {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				padding-top: 1em;
				max-width: 100%;
				max-height: 8em;
				.city-name {
					font-size: 2em;
					padding: 0.15em;
				}
				.current-temp {
					font-weight: 800;
					font-size: 2.5em;
				}
			}
			.button {
				max-height: 8em;
				display: flex;
				justify-content: center;
				align-items: center;
				button {
					background-color: transparent;
					color: var(--aqua);
					height: 5em;
					width: 5em;
					border-radius: 50%;
					padding: 5px 10px;
					border-color: var(--aqua);
				}
			}
			.type-icon {
				display: flex;
				min-height: 8em;
				flex-direction: column;
				justify-content: flex-end;
				align-items: center;
				span {
					font-size: 1.5em;
				}
				img {
					height: 5em;
					width: 5em;
				}
			}
		}
		.minor-conditions {
			display: flex;
			align-items: center;
			justify-content: space-around;
			gap: 1em;
			margin: auto auto 1em auto;
			font-size: 1.5em;
			i {
				margin: 0.5em;
			}
			.center {
				@media screen and (min-width: 43rem) {
					padding: 0 1em;
					border-left: 0.1em solid var(--aqua);
					border-right: 0.1em solid var(--aqua);
				}
			}
		}
	}
}
.search {
	position: relative;
	width: 250px;
	margin-top: 1em;
	input {
		box-sizing: border-box;
		width: 100%;
		padding: 0.35em;
		border: 0.1em solid rgba(255, 255, 255, 0.25);
		border-radius: 0.25em;
		outline: none;
		color: #fff;
		font-size: 1em;
		background-color: transparent;
	}
	span {
		position: absolute;
		padding: 8px;
		color: rgba(255, 255, 255, 0.25);
		left: 0;
		font-size: 1em;
		pointer-events: none;
		text-transform: uppercase;
		transition: all 0.5s ease-in-out;
	}
	input:valid ~ span,
	input:focus ~ span {
		@media screen and (max-width: 43rem) {
			padding: 0 0.625em;
		}
		transform: translateX(6px) translateY(-8px);
		font-size: 0.65em;
		color: var(--aqua);
		padding: 0 10px;
		background-color: var(--bgcolor);
		border-left: 1px solid var(--aqua);
		border-right: 1px solid var(--aqua);
	}
	input:valid,
	input:focus {
		border-color: var(--aqua);
	}
	.search-results {
		border: 1px solid var(--aqua);
		border-top: none;
		.search-result {
			cursor: pointer;
			padding: 0.1em 0.2em;
		}
		.search-result:hover {
			background-color: var(--darkbgcolor);
		}
	}
}
.credit {
	min-height: 5vh;
	a {
		color: #48cae4;
	}
}

@media screen and (max-width: 43em) {
	.App {
		font-size: 0.65em;
		min-height: 100vh;
		.loader {
			margin-top: 5%;
		}
		.main {
			.major-conditions {
				font-size: 0.7em;
				padding-top: 5%;
				max-width: 100%;
				display: flex;
				justify-content: space-around;
			}
			.minor-conditions {
				flex-direction: column;
				.minor {
					display: flex;
					gap: 1rem;
					justify-content: center;
				}
				.center {
					min-width: 100%;
					padding: 1em 0;
					border-top: 0.1em solid var(--aqua);
					border-bottom: 0.1em solid var(--aqua);
				}
			}
		}
		.footer {
			display: none;
		}
	}
}
